  /*
----------------------------------------------------------- 
. Author  :  
. Company :  
. Email   :  
. Date  : 
. Project :   
----------------------------------------------------------- 
*/                          

/*
   ================================================
    Global Styles styles: opinionated defaults
   ================================================                                   
*/  
 
@media (min-width: 1025px) {
 
}
/*Hamburger menu for IPAD Starts */
@media screen and (min-width: 768px) and (max-width: 1024px) {
/*  .navbar-header {
      float: none;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse.collapse.in {
      display: block!important;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .menu {
      float: none!important;
      margin: 7.5px -15px;
  }
  .menu>li {
      float: none;
  }
  .menu>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar.container {
    max-width: 100%;
    padding: 0;
    width: 100%;
  }
  .navbar .logo {
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}*/
/*Hamburger menu for IPAD Ends */

/*Mobile Menu */
@media (max-width: 1024px) { 
  
}

@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
 
}
@media only screen and (min-width : 320px) {
 

@media only screen and (min-width : 320px) and (max-width : 767px) { 
  
}
