/*
---------------------------------------------------------------------------	
.	Author	:	 
.	Company	:	 
.	Email 	:	 
.	Date 	:	
.	Project	: 	
---------------------------------------------------------------------------	
*/
 
/* ================================ Fonts Starts ================================ */
/*iPad Pro Landscape*/
@media screen 
and (min-width: 1024px) 
and (max-width: 1366px)
and (-webkit-device-pixel-ratio: 2.0)
and (orientation: landscape) {
 
}
/*iPad Pro Portrait*/
@media screen 
and (min-width: 1024px) 
and (max-width: 1366px)
and (-webkit-device-pixel-ratio: 2.0)
and (orientation: portrait) {
 
}
/*iPad Pro Common*/
@media screen 
and (min-width: 1024px) 
and (max-width: 1366px)
and (-webkit-device-pixel-ratio: 2.0) {
 
}